<html>
  {% include "header.html" %}
  <body>
    <div id="app">
      {% include "navbar.html" %}
      <div class="news-view view">
        <form class="news-item m-t-3" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script>
    $("#id_url" ).mouseout(function() {
      $this = $(this);
      url = $this.val();
      $.ajax({
        url: url,
        type: 'GET',
        success: function(data) {
          debugger;
          match = data.match(/<title[^>]*>([^<]+)<\/title>/)[1];
          if !$('#id_title').val() {
            $('#id_title').val(unescape(match));
          }
        }
      })
    })
  </script>
</html>
